// app global css in SCSS form

.elst {
  &__rounded {
    border-radius: 12px;
  }

  &__bordered {
    border: $grey-4 solid 1px
  }

  &__detail-sidebar {
    width: 370px;
  }

  &__link:hover {
    filter:  brightness(70%);
  }
}
