// app global css in SCSS form

html {
  background-color: $header;
}

.bg-header {
  background-color: $header;
}

.elst {
  &__rounded {
    border-radius: 12px;
  }

  &__bordered {
    border: $grey-4 solid 1px
  }

  &__detail-sidebar {
    width: 370px;
  }

  &__link:hover {
    filter:  brightness(70%);
  }

  &__base-button-width {
    width: 200px
  }
}

kbd {
  background-color: $grey-4;
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  padding: 3px 6px;
  white-space: nowrap;
}

.drag-handle {
  cursor: grab
}

.preserve-line-breaks {
  white-space: pre-wrap;
}
